
.vkladka{
    background: #9ACD32;
}

.containEmbleme{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.imgEmbleme{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.topPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ul_custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    /* position: absolute; */
    right: 20px;
    top: 30px;
    width: 320px;
}

.icon-kc {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.icon-kc::before{
    content: '\267A';
}

.icon-mail {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    background-position: 0px -19px;
}

.icon-mail::before{
    content: '\1F582';
}



ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}